---
import Card from "./Card/index.astro";
---


<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Next Races">
  <table>
    <tr>
      <td class="text-lg">Athens 10k</td>
      <td class="text-lg">10 November 2024</td>
    </tr>
    <tr>
      <td class="text-lg">Amsterdam HalfMarathon</td>
      <td class="text-lg">16 March 2025</td>
    </tr>
    <tr>
      <td class="text-lg">Patras HalfMarathon</td>
      <td class="text-lg">6 April 2025</td>
    </tr>
    <tr>
      <td class="text-lg">Copenhagen Marathon</td>
      <td class="text-lg">11 May 2025</td>
    </tr>
  </table>
</Card>
