---
import Card from "./Card/index.astro";
---


<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Next Races">
  <p class="text-xs">Athens 10k 10 November 2024</p>
  <p class="text-sm">Amsterdam HalfMarathon 16 March 2025</p>
  <p class="text-base">Patras HalfMarathon 6 April 2025</p>
  <p class="text-lg">Copengaen Marathon 11 May 2025</p>
</Card>
